<h1>This is my landing page!</h1>

<form action="/games" method="GET">
    <h3>Please enter your Steam ID!</h3>
    <div>
        <input type="text" name="steamID" placeholder="XXXXXXXXXXXXXXXXX">
        <button type="submit">Search</button>
    </div>    
</form>